 /* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Css Variables*/
:root {
  --base: #368B5F;
  --spacing: 10px;
  --blur: 10px;
}
img {
  max-width: 1000px;
  max-height: 600px;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.h1 {
  color: var(--base);
}

/*Normal styling*/
body {
  text-align: center;
  background: #193549;
  color: #fff;
  font-family: "helvetica", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

